    @media screen and (max-width: 768px) {
        .botao-header {
            display: block;
        }
        .navigation-header {
            position: absolute;
            flex-direction: column;
            top: 0;
            background-color: rgba(41, 41, 41, 0.167);
            height: 100%;
            width: 35vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -10vw;
        }
        h1 {
            display: none;
        }
    }
    
    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }
        top {
            margin-left: -10vw;
        }
    }
    
    @media screen and (max-width: 684px) {
        .footer-links {
            display: none;
        }
        section.module.parallax,
        section.module.parallax-2,
        section.module.parallax-3 {
            background-position: 50%;
        }
        section.module.parallax h2 {
            font-size: 30px;
        }
    }
    
    @media screen and (max-width: 790px) {
        div.wrapper {
            width: 100%;
            height: 100%;
            background-position: center;
        }
    }
    
    @media screen and (max-height: 1200px) {
        .container {}
        footer {
            box-sizing: border-box;
            align-items: center;
        }
    }
    
    @media screen and (max-width: 415px) {
        div.owner-info {
            padding-left: 40px;
        }
    }