    @media screen and (max-width: 768px) {
        .botao-header {
            display: block;
        }
        .navigation-header {
            position: absolute;
            flex-direction: column;
            top: 0;
            background-color: rgba(41, 41, 41, 0.167);
            height: 100%;
            width: 35vw;
            padding: 1em;
            animation-duration: 1s;
            margin-left: -10vw;
        }
        h1 {
            display: none;
        }
    }
    
    @keyframes showSidebar {
        from {
            margin-left: -100vw;
        }
        top {
            margin-left: -10vw
        }
    }
    
    @media screen and (max-width: 684px) {
        .footer-links {
            display: none;
        }
    }
    
    @media screen and (max-width: 790px) {
        div.wrapper {
            width: 100%;
            height: 100%;
        }
    }
    
    @media screen and (max-height: 1200px) {
        .container {}
        footer {
            box-sizing: border-box;
            align-items: center;
        }
    }