    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Noto Sans';
        color: #242424;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
    
    .header,
    .navigation-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .img-logo-header {
        width: 45px;
    }
    
    .header {
        background: linear-gradient(177deg, #000000 0%, rgba(4, 4, 4, 0.95) 0%, rgba(84, 84, 84, 0) 100%);
        box-shadow: 1px 1px 4px;
        height: 70px;
        justify-content: space-between;
        padding: 0 10%;
    }
    
    .navigation-header {
        gap: 3em;
    }
    
    .navigation-header a {
        text-decoration: none;
        text-transform: uppercase;
        color: #1B2845;
        transition: 0.7s;
        font-weight: bold;
    }
    
    .active {
        background-color: rgba(41, 41, 41, 0.167);
        border-radius: 10px;
        padding: 4px;
    }
    
    .botao-header {
        background-color: transparent;
        border: none;
        color: white;
        display: none;
        cursor: pointer;
    }
    
    .content {
        text-align: center;
        padding-top: 280px;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    
    p {
        margin-top: 10px;
    }
    
    .wrapper {
        width: 100%;
        margin: 0 auto;
    }
    
    main {
        display: block;
        background-color: white;
    }
    
    .container-2 {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 0px;
    }
    
    h2 {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;
        display: flex;
    }
    
    img.footer {
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;
        display: flex;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
        color: black;
    }
    
    section.module p {
        margin-bottom: 40px;
    }
    
    section.module:Last-child {
        margin-bottom: 0px;
    }
    
    section.module h2 {
        margin-bottom: 40px;
        font-size: 30px;
    }
    
    section.module.content2 {
        padding: 40px 0;
        background-color: #ece7d5;
    }
    
    section.module.content3 {
        padding: 40px 0;
        background-color: rgba(51, 92, 129, 0.4);
    }
    
    section.module.parallax {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh !important;
        width: 100%;
        position: relative;
        overflow: hidden;
        background-position: 50% 50%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    
    section.module.parallax {
        background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url(/images/bgmmain.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    section.module.parallax-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(/images/bgmain2.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    section.module.parallax-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.7)), url(/images/bgmain3.jpeg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    section.module.parallax h1 {
        color: white;
        text-align: center;
        font-size: 78px;
        z-index: 50;
        text-transform: uppercase;
    }
    
    section.module.parallax h2 {
        color: rgb(102, 243, 37);
        background: rgba(27, 40, 69, 0.6);
        max-width: 520px;
        border-radius: 30px;
        text-align: center;
        font-size: 55px;
        z-index: 50;
        text-transform: uppercase;
    }
    
    section.module.parallax:after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 8;
        background: -moz-linear-gradient(to bottom, rgba (0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #0000 100%);
        background: -webkit-linear-gradient(to bottom, rgba (0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #0000 100%);
        background: linear-gradient(to bottom, rgba (0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 40%, #0000 100%);
    }
    
    footer {
        background-color: #333333;
        color: #ffffff;
        padding: 30px 0;
    }
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    
    .owner-info {
        text-align: center;
    }
    
    .owner-photo {
        border-radius: 50%;
        width: 120px;
        height: 120px;
        margin-bottom: 20px;
    }
    
    div.footer-links {
        position: relative;
        list-style: none;
        right: 100px;
    }
    
    .footer-links li {
        list-style: none;
        margin-right: 15px;
        margin-top: 100px;
    }
    
    .footer-links a {
        color: #ffffff;
        text-decoration: none;
    }
    
    h1 {
        margin-bottom: 200px;
        letter-spacing: 5px;
    }
    
    section a {
        text-decoration: none;
        width: 100%;
        max-width: 760px;
        margin: 0 auto;
        padding: 0 auto;
        justify-content: center;
        display: inline-block;
        color: rgba(102, 243, 37, 0.97);
        transform: .5s;
    }
    
    section a:hover {
        color: rgb(102, 243, 37);
        background-color: #1B2845;
        border-radius: 30px;
        letter-spacing: .04em;
    }
    
    h3 {
        color: white;
        background-color: #1B2845;
        justify-content: center;
    }
    
    h3.owner-2 {
        border-radius: 50px;
        border-style: solid;
        border-width: 1px;
        width: 50%;
        justify-content: center;
        margin-left: 68px;
    }
    
    ul {
        display: flex;
    }